.vs/BeetleX/DesignTimeBuild/.dtbcache
Chat.Client/bin/
Chat.Client/obj/
Chat.Server/bin/
Chat.Server/obj/
Echo.Client/bin/
Echo.Client/obj/
Echo.Server/bin/
Echo.Server/obj/
IMessage.Client/bin/
IMessage.Client/obj/
IMessage.Server/bin/
IMessage.Server/obj/
Json.Client/bin/
Json.Client/obj/
Json.Message/bin/
Json.Message/obj/
Json.Server/bin/
Json.Server/obj/
Protobuf.Client/bin/
Protobuf.Client/obj/
Protobuf.Messages/bin/
Protobuf.Messages/obj/
Protobuf.Server/bin/
Protobuf.Server/obj/
packages/
src/BeetleX/bin/
src/BeetleX/obj/
src/BeetleX/Properties/PublishProfiles/
.vs/BeetleX/v15/Server/
MagPack.Messages/bin/
MagPack.Messages/obj/
MsgPack.Client/bin/
MsgPack.Client/obj/
MsgPack.Server/bin/
MsgPack.Server/obj/
samples/Chat.Client/bin/
samples/Chat.Client/obj/
samples/Chat.Server/bin/
samples/Chat.Server/obj/
samples/Echo.Client/bin/
samples/Echo.Client/obj/
samples/Echo.Server/bin/
samples/Echo.Server/obj/
samples/IMessage.Client/bin/
samples/IMessage.Client/obj/
samples/IMessage.Server/bin/
samples/IMessage.Server/obj/
samples/Json.Client/bin/
samples/Json.Client/obj/
samples/Json.Message/bin/
samples/Json.Message/obj/
samples/Json.Server/bin/
samples/Json.Server/obj/
samples/MagPack.Messages/bin/
samples/MagPack.Messages/obj/
samples/MsgPack.Client/bin/
samples/MsgPack.Client/obj/
samples/MsgPack.Server/bin/
samples/MsgPack.Server/obj/
samples/Protobuf.Client/bin/
samples/Protobuf.Client/obj/
samples/Protobuf.Messages/bin/
samples/Protobuf.Messages/obj/
samples/Protobuf.Server/bin/
samples/Protobuf.Server/obj/
samples/Http.Server/Properties/
samples/Http.Server/bin/
samples/Http.Server/obj/
samples/TCP.FixedString/.vs/
samples/TCP.FixedString/Client/bin/
samples/TCP.FixedString/Client/obj/
samples/TCP.FixedString/Server/bin/
samples/TCP.FixedString/Server/obj/
samples/TCP.Hello/.vs/
samples/TCP.Hello/Client/bin/
samples/TCP.Hello/Client/obj/
samples/TCP.Hello/Server/bin/
samples/TCP.Hello/Server/obj/
samples/TCP.JsonFormater/.vs/
samples/TCP.JsonFormater/Client/bin/
samples/TCP.JsonFormater/Client/obj/
samples/TCP.JsonFormater/Messages/bin/
samples/TCP.JsonFormater/Messages/obj/
samples/TCP.JsonFormater/Server/bin/
samples/TCP.JsonFormater/Server/obj/
samples/TCP.MessagePackFormater/.vs/
samples/TCP.MessagePackFormater/Client/bin/
samples/TCP.MessagePackFormater/Client/obj/
samples/TCP.MessagePackFormater/Messages/bin/
samples/TCP.MessagePackFormater/Messages/obj/
samples/TCP.MessagePackFormater/Server/bin/
samples/TCP.MessagePackFormater/Server/obj/
samples/TCP.ProtobufFormater/.vs/
samples/TCP.ProtobufFormater/Client/bin/
samples/TCP.ProtobufFormater/Client/obj/
samples/TCP.ProtobufFormater/Messages/bin/
samples/TCP.ProtobufFormater/Messages/obj/
samples/TCP.ProtobufFormater/Server/bin/
samples/TCP.ProtobufFormater/Server/obj/
samples/TCP.SSL/.vs/
samples/TCP.SSL/Client/bin/
samples/TCP.SSL/Client/obj/
samples/TCP.SSL/Messages/bin/
samples/TCP.SSL/Messages/obj/
samples/TCP.SSL/Server/bin/
samples/TCP.SSL/Server/obj/
samples/TCP.BaseHttp/.vs/
samples/TCP.BaseHttp/TCP.BaseHttp/bin/
samples/TCP.BaseHttp/TCP.BaseHttp/obj/
samples/TCP.BaseHttp/TCP.BaseHttp/Properties/
samples/TCP.AsynClient/.vs/
samples/TCP.AsynClient/Client/bin/
samples/TCP.AsynClient/Client/obj/
samples/TCP.AsynClient/Server/bin/
samples/TCP.AsynClient/Server/obj/
samples/TCP.Awaiter/.vs/
samples/TCP.Awaiter/Client/bin/
samples/TCP.Awaiter/Client/obj/
samples/TCP.Awaiter/Server/bin/
samples/TCP.Awaiter/Server/obj/
samples/TCP.BaseHttp/TCP.BaseHttp/TCP.BaseHttp.csproj.user
samples/TCP.FixedString/Server/Properties/
samples/TCP.FixedString/Server/Server.csproj.user
.vs/BeetleX/v16/
.vs/BeetleX/DesignTimeBuild/.dtbcache.v2
src/BeetleX.Compat.ConcurrentQueue/bin/
src/BeetleX.Compat.ConcurrentQueue/obj/